<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>main</title>-->
<!--</head>-->
<!--<body>-->
<!--    <p>main page</p>-->
<!--    <div sec:authorize="!isAuthenticated()">-->
<!--        <button onclick="location.href='/login'">로그인을 하시려면 눌러주세요</button>-->
<!--    </div>-->
<!--    <div sec:authorize="hasAuthority('GUEST')">-->
<!--        <p th:text="'로그인 성공, '+${#authentication.name}+'님 환영합니다!(main)'"></p>-->
<!--        <button onclick="location.href='/logout'">로그아웃</button>-->
<!--    </div>-->

<!--&lt;!&ndash;    <td th:if="${dto.getFileStatus().toString()} == 'ON_SUMMER'" th:text="${dto.getUploadName()} + ' (에디터 첨부파일)'"></td>&ndash;&gt;-->
<!--&lt;!&ndash;    <td th:unless="${dto.getFileStatus().toString()} == 'ON_SUMMER'" th:text="${dto.getUploadName()}"></td>&ndash;&gt;-->
<!--</body>-->
<!--</html>-->