<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자용 공지</title>
    <link rel="stylesheet" type="text/css" href="/css/styleSJY.css">

</head>
<body>

<header>
    <nav>
        <a href="#">선호도 설정</a>
        <a href="/notice/admin/noticeList">공지사항</a>
        <a href="#">데이트 컨텐츠</a>
        <a href="#">MY Profile</a>
        <a href="#">로그아웃</a>
    </nav>
</header>
<h1>관리자용 메인페이지</h1>

<br>
<button type="button" class="btn btn-primary" onclick="location.href='/noticeregist'">공지등록</button>

<!--<footer>-->
<!--    <p>© 2024 관리자용 페이지</p>-->
<!--</footer>-->
</body>
</html>