<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자용 공지</title>
    <link rel="stylesheet" type="text/css" href="css/styleSJY.css">
</head>
<body>
<header>
    <nav>
        <a href="/noticeList">공지사항</a>
        <a href="#">데이트 컨텐츠</a>
        <a href="#">로그아웃</a>
    </nav>
</header>
<h1>love/match 공지 등록</h1>



<form action="insert" method="post">
    공지 title: <input type="text" name="noticeTitle"><br>
    공지 content: <textarea rows="5" cols="30" name="noticeContent"></textarea>
    <br><br>
    <input type="submit" value="저장">
</form>

<footer>
    <p>© 2024 관리자용 페이지</p>
</footer>
</body>
</html>